*{
    margin: 0;
    padding: 0;
    /* background-color: #f8f8f8; */
}
.btn-round {
    border-radius: 5px;
        border: 2px solid #000;
    }



.logo-svg {
    height: 30px;
    margin-right: 5px;
    /* margin-left: 1vw; */
}   

.input-group {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.input-group .form-control {
    border: none;
    box-shadow: none;
    background-color: white;
}

.white-icon {
  color: white;
}

.input-group .btn {
    border: none !important;
    border-radius: 0 3px 3px 0 !important;
    background-color: transparent;
    box-shadow: none;
    background: #000;
    margin: 0;
    padding: 8px 12px;
}

.person {
    font-size: 2rem !important;
}

.btn-dark:hover {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
}

.navbar-custom-bg {
    background-color: #ffffff !important;
}

.btn-link {
    border: 2px solid transparent !important;
}

.btn-link:hover {
    text-decoration: none !important;
    border: 2px solid black !important;
    background-color: white !important;
    color: black !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}


.btn-rent {
    border: 2px solid transparent !important;
}